.logo { color: black; text-align: center; margin: 0; padding-top: 7px; width: 34%; height: 100%; border-right: 1px solid black; background: red; }
.topbuts { color: black; text-align: center; margin: 0; padding-top: 7px; width: 33%; height: 100%; border-right: 1px solid black; background: #ccc; }
.toolbar { background: none; height: 40px; border: 1px solid black; padding: 0; width: 100%; }
.active { background: white; }
.map { border: 1px solid black; }